<h1>The Rules of the Games Are Simple</h1>
<p>Player 1 types their choice of rock/paper/scissors into the adress bar after rps/</p>
<p>Player 2 then types their choice of rock/paper/scissors after another slash</p>
<p>Hit enter and see who wins!</p>
